header {
    height: 100vh;
    

   
    .welcome {
        margin-top: 10rem;
       display: flex;
       justify-content:space-around;
       align-items: center;
       width: 100%;
      
        
      
        img {
            width: 300px;
            border-radius: 40%;
            
        }
    }
}
