section {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
  
    .project {
      background-color: transparent;
      border-radius: 10px;
      box-shadow: 0px 2px 10px #ff4500;
      padding: 20px;
      margin: 20px;
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .project-content {
        position: relative; 
      }
  
      .project-title {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
     
    }
  }

  .modal-container {
    display: none; /* Par défaut, la modal est masquée */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    
    &.active {
      display: block; 
    }
    
  
    .modal-background {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  
      .modal {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        max-width: 80%;
        overflow: auto;
        text-align: center;
        transform: scale(0);
      animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  
        .project-image {
          max-width: 100%;
          height: auto;
          margin-bottom: 10px;
        }
  
        .project-link {
          display: block;
          margin-top: 10px;
          text-decoration: none;
          color: #333;
        }
  
        .project-text {
          margin-top: 15px;
        }
      }
    }
  }

  @keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }