header {
    background-color: $secondary_color;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    nav {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        margin-right: 3rem;
        margin-bottom: 7rem;
        a {
            text-decoration: none;
            font-size: 18px;
            color: white;
            
        }
    }
    .welcome {
        background-color: $secondary_color;
        margin: 3rem;
        display: flex;
        justify-content: space-around;
        img {
            height: 403px;
            width: auto;
        }
    }
}