#sky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
  
  .shooting-icon {
    position: absolute;
    font-size: 20px;
    color: #ffffff;
    opacity: 0;
  }
  

  .fa-react {
    color: #61DAFB; 
  }
  
   

  .flashing-point {
    position: absolute;
    background-color: white; 
    border-radius: 50%; 
  }
  
  
  
  
  
  
  